Source: eds
Section: devel
Priority: optional
Maintainer: lithid <long.jeremie@gmail.com>
Build-Depends: debhelper
Standards-Version: 3.9.2
Homepage: Meh

Package: eds
Architecture: any
Depends: python-setuptools, python-pygame, python-opengl, python-gst0.10, python-enchant, gstreamer0.10-plugins-good, cython, python-dev, build-essential, libgl1-mesa-dev, libgles2-mesa-dev, git-core
Description: Something can go here
 Here is some more to go here as well
