[Desktop Entry]
Version=1.0
Name=eds
Name[en_US]=eds
GenericName=eds
Comment=Easy Android Development
Exec=eds
Terminal=false
Icon=/usr/share/eds/images/icon.png
Type=Application
Categories=GTK;Development;
